@font-face {
  font-family: 'iconfont'; /* Project id 3689705 */
  src: url('https://at.alicdn.com/t/c/font_3689705_ysrvb6u7j5.woff2?t=1665144017402')
      format('woff2'),
    url('https://at.alicdn.com/t/c/font_3689705_ysrvb6u7j5.woff?t=1665144017402')
      format('woff'),
    url('https://at.alicdn.com/t/c/font_3689705_ysrvb6u7j5.ttf?t=1665144017402')
      format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tianjia:before {
  content: '\e657';
}

.icon-shanchu:before {
  content: '\e718';
}

.icon-bianji_o:before {
  content: '\eb49';
}

.icon-dianying:before {
  content: '\e634';
}

.icon-gongzuojingyan:before {
  content: '\e635';
}

.icon-aihao:before {
  content: '\e636';
}

.icon-dianhua:before {
  content: '\e637';
}

.icon-dushu:before {
  content: '\e638';
}

.icon-jineng:before {
  content: '\e639';
}

.icon-jiaoyubeijing:before {
  content: '\e63a';
}

.icon-liaotian:before {
  content: '\e63b';
}

.icon-lvhang:before {
  content: '\e63c';
}

.icon-jiangli:before {
  content: '\e63d';
}

.icon-qiuzhidiqu:before {
  content: '\e63e';
}

.icon-ruanjianjineng:before {
  content: '\e63f';
}

.icon-youxiang:before {
  content: '\e640';
}

.icon-wangzhan:before {
  content: '\e641';
}

.icon-xiangmujingyan:before {
  content: '\e642';
}

.icon-yinle:before {
  content: '\e643';
}

.icon-zhize:before {
  content: '\e644';
}

.icon-weixin:before {
  content: '\e645';
}

.icon-zuofan:before {
  content: '\e646';
}

.icon-star:before {
  content: '\e647';
}
